<div class="post">

    <!-- Upvotes -->

    <div class="points">

        <div class="upvote">
            <div class="upvote-arrow"></div>
            <div class="upvote-tail"></div>
        </div>

        <span class="net-points">{% net_votes %}</span>

        <div class="downvote">
            <div class="downvote-tail"></div>
            <div class="downvote-arrow"></div>
        </div>

    </div>

    <!-- Content -->

    <div class="content">
        <span class="author">u/{% author %}</span>
        <h2 class="post-title">{% title %}</h2>
    </div>

</div>